<div>
  <input type="text" #inputEl (keyup)="filter(inputEl.value)" (blur)="blur()">
</div>
<mat-card [hidden]="!display">
  <mat-option
    *ngFor="let opt of filteredOptions"
    [innerHTML]="highlight(opt, inputEl.value)"
    (click)="testBug(opt)"
    (tap)="testBug(opt, $event)"
  >
  </mat-option>
</mat-card>
