.mat-card {
  position: absolute;
  width: 300px;
  background: white;
  box-shadow: 2px 2px 4px rgba(0,0,0,.23);
  padding: 0;
}

.mat-card[hidden] {
  display: none !important;
}

mat-option:nth-child(2n) {
  background-color: #efefef;
}

::ng-deep strong {
  pointer-events: none;
}
