<label>Buggy</label>
<app-buggy-autocomplete (valueSelected)="buggyValue = $event"></app-buggy-autocomplete>
{{buggyValue | json}}

<hr/>
<label>Fix 1 : mousedown instead of click event</label>
<app-fixed-autocomplete (valueSelected)="fixedValue = $event"></app-fixed-autocomplete>
{{fixedValue | json}}


<hr/>
<label>Fix 2 : timeout blur event</label>
<app-fixed-autocomplete (valueSelected)="fixedOneValue = $event"></app-fixed-autocomplete>
{{fixedOneValue | json}}
